@tailwind base;
@tailwind components;
@tailwind utilities;


.dynamic-shadow-dom {
    --dynamic-connect-button-background: #00D8B1;
    --dynamic-connect-button-color: #fff;
    --dynamic-text-primary: #000;
  }
  